{{#if messages.success}}
  <div id='success' class='container'>
    {{messages.success}}
  </div>
{{/if}}
{{#if messages.info}}
  <div id='info' class='container'>
    {{messages.info}}
  </div>
{{/if}}
{{#if messages.error}}
  <div id='error' class='container'>
    {{messages.error}}
  </div>
{{/if}}