<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'
    />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css'
      integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <link rel='stylesheet' href='/css/style.css' />
    <title>Mediatized Login</title>
  </head>

  <body>
    <div class='container login-container'>
      <div class='card'>
        <div class='card-content'>
          {{{body}}}
        </div>
      </div>
    </div>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'
    ></script>
    {{! <div>
<img class = "equalizer" src="https://cdn.glitch.global/9fbaaa4c-ec1f-4b63-b268-0c041b11c504/equalizer-gf60520f6d_1280.jpg?v=1653364915939">
    </div> }}
  </body>
</html>