<div class="dashboard_container">
  <h2>MEDIATIZED</h2>
  <h4>Dashboard</h4><br>
  <div class='divider'></div>
  <h3>Welcome, {{name}}!</h3>
  {{> message}}
  <!-- <p>Link to API-Docs located in the hamburger menu.</p>--> 
</div>