{{> message}}
<form action='/auth/login' method='post'>
  <!-- user input-->
  Email:<br />
  <input type='text' name='email' placeholder='Email' required /><br /><br />
  Password:<br />
  <input type='password' name='password' placeholder='Password' required /><br /><br />
  <!-- submit button -->
  <input type='submit' value='Login' />
</form>
<a href='/registerpage'>New user? Click here.</a>