p {
  margin: 10px 0 !important;
}
body {
  background-color: silver !important ;
}
.login-container {
  width: 90%;
  margin-top: 50px;
  text-align: center;
}

.logo {
  width: 50px;
}

.container {
  text-align: center !important;
}

.sidenav {
  text-align: right !important;
}
.div-equ {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 665px) {
  .login-container {
    width: 600px;
  }
}
