p {
  margin: 10px 0 !important;
}
body {
  background-image: url('https://cdn.glitch.global/9fbaaa4c-ec1f-4b63-b268-0c041b11c504/equalizer-gf60520f6d_1280.jpg?v=1653364915939');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: silver !important ;
}

.login-container {
  width: 90%;
  margin-top: 50px;
  text-align: center;
}

.dashboard_container {
  background-color: rgba(255, 255, 255);
  max-width: 800px;
  padding: 2em;
  margin: auto;
  margin-top: 1em;
  border-radius: 5px;
}

.link {
  margin: 2em 10em;
  border-radius: 5px;
  padding: 0.75em;
}

.link:hover {
  background-color: rgb(105, 105, 105);
}

.logo {
  width: 50px;
}

.container {
  text-align: center !important;
}

.sidenav {
  text-align: right !important;
  max-height: 150px !important;
  background-color: #829cda !important;
}

.div-equ {
  display: flex;
  flex-direction: column;
}

#success,
#error {
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  margin-top: 1em;
  margin-bottom: 1em;
}

#success {
  background-color: palegreen;
}

#error {
  background-color: rgb(236, 127, 127);
}

@media screen and (min-width: 665px) {
  .login-container {
    width: 600px;
  }
}
